<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">燃烧无极限</h1>
      <p class="slogan">每一颗冠军的心，都应该继续被荣耀！
        <br>
        整合影视，广告，竞赛，培训等资源，为退役运动员，提供多元就业机会。
        <br>
       让运动员继续从事热爱的竞技运动.
      </p>
      <p class="lead">
        <%= link_to '即刻加入', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>


<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>与大公司合作</h3>
            <p>提供靠谱的高薪职位</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>提供简历模版</h3>
            <p>快速撰写投递建立</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>即时反馈</h3>
            <p>最短时间内得到招聘答复</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">田亮</h2>
        <p class="lead">从国家跳水队退役后，我就是在燃烧无极限找到工作，进入娱乐圈，之后接拍了“爸爸去哪儿”！</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic1.1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">可口可乐</h2>
        <p class="lead">燃烧无极限长期为本公司，推荐了颜值高，身材棒的运动广告模特，业内口碑极好. </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic2.1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">路人甲</h2>
        <p class="lead">我是个退役的体操运动员，现在成了滑翔伞教练，感谢燃烧无极限让我飞(^_^)</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic3.1.jpeg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
