<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>We are creative</h1>
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>We are smart</h1>
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>We are amazing</h1>
            <h3>Get start your next awesome project</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See all features</button>
      </div>
    </div>
  </div>
</div>

<section class="odd">
  <div class="section-content">
    <h2 class="section-title">5分钟给你激情燃烧的工作</h2>

    <div class="col-3 clearfix advantage">
      <div class="row">
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
            <br>
            <h3 class="advantage-title">与大公司合作</h3>
            <p>提供靠谱的高薪职位</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
            <br>
            <h3 class="advantage-title">提供简历模版</h3>
            <p>快速撰写投递建立</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
            <br>
            <h3 class="advantage-title">即时反馈</h3>
            <p>最短时间内得到招聘答复</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
