/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 //---------Navbar---------

 .navbar-default {
     background-color: #212121;
     border-color: #212121;
     margin-bottom: 0;
     border-radius: 0;
 }

 .navbar-default .navbar-brand {
     color: #EF6C00;
     padding: 10px 15px;
     line-height: 30px;
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #FF6F00;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > li > a {
     color: #EF6C00;
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #FF6F00;
     background-color: transparent;
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FF6F00;
     background-color: #FFE0B2;
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #FFE0B2;
     color: #212121;
 }

 /*
 Fade content bs-carousel with hero headers
 Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
 Image credits: unsplash.com
 */

 /********************************/
 /*       Fade Bs-carousel       */
 /********************************/
 .fade-carousel {
     position: relative;
     height: 100vh;
 }
 .fade-carousel .carousel-inner .item {
     height: 100vh;
 }
 .fade-carousel .carousel-indicators > li {
     margin: 0 2px;
     background-color: #f39c12;
     border-color: #f39c12;
     opacity: .7;
 }
 .fade-carousel .carousel-indicators > li.active {
   width: 10px;
   height: 10px;
   opacity: 1;
 }

 /********************************/
 /*          Hero Headers        */
 /********************************/
 .hero {
     position: absolute;
     top: 50%;
     left: 50%;
     z-index: 3;
     color: #fff;
     text-align: center;
     text-transform: uppercase;
     text-shadow: 1px 1px 0 rgba(0,0,0,.75);
       -webkit-transform: translate3d(-50%,-50%,0);
          -moz-transform: translate3d(-50%,-50%,0);
           -ms-transform: translate3d(-50%,-50%,0);
            -o-transform: translate3d(-50%,-50%,0);
               transform: translate3d(-50%,-50%,0);
 }
 .hero h1 {
     font-size: 6em;
     font-weight: bold;
     margin: 0;
     padding: 0;
 }

 .fade-carousel .carousel-inner .item .hero {
     opacity: 0;
     -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
         -ms-transition: 2s all ease-in-out .1s;
          -o-transition: 2s all ease-in-out .1s;
             transition: 2s all ease-in-out .1s;
 }
 .fade-carousel .carousel-inner .item.active .hero {
     opacity: 1;
     -webkit-transition: 2s all ease-in-out .1s;
        -moz-transition: 2s all ease-in-out .1s;
         -ms-transition: 2s all ease-in-out .1s;
          -o-transition: 2s all ease-in-out .1s;
             transition: 2s all ease-in-out .1s;
 }

 /********************************/
 /*            Overlay           */
 /********************************/
 .overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: #080d15;
     opacity: .7;
 }

 /********************************/
 /*          Custom Buttons      */
 /********************************/
 .btn.btn-lg {padding: 10px 40px;}
 .btn.btn-hero,
 .btn.btn-hero:hover,
 .btn.btn-hero:focus {
     color: #f5f5f5;
     background-color: #1abc9c;
     border-color: #1abc9c;
     outline: none;
     margin: 20px auto;
 }

 /********************************/
 /*       Slides backgrounds     */
 /********************************/
 .fade-carousel .slides .slide-1,
 .fade-carousel .slides .slide-2,
 .fade-carousel .slides .slide-3 {
   height: 100vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 }
 .fade-carousel .slides .slide-1 {
   background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818);
 }
 .fade-carousel .slides .slide-2 {
   background-image: url(https://ununsplash.imgix.net/photo-1416339684178-3a239570f315?q=75&fm=jpg&s=c39d9a3bf66d6566b9608a9f1f3765af);
 }
 .fade-carousel .slides .slide-3 {
   background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
 }

 /********************************/
 /*          Media Queries       */
 /********************************/
 @media screen and (min-width: 980px){
     .hero { width: 980px; }
 }
 @media screen and (max-width: 640px){
     .hero h1 { font-size: 4em; }
 }

 .section-content {
  width: 1000px;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8em;
  .title {
    padding: 20px 0 10px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
  }
  .description {
    width: 420px;
    margin: 0 auto;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .col-3 {
    padding-top: 20px;
    .item {
      width: 300px;
      margin-left: 33px;
      position: relative;
      top: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      &:hover {
        position: relative;
        top: -5px;
      }
      .advantage-img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .advantage-title {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #333333;
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
      }
    }
  }
}



 //---------Content---------

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}
//---------Footer---------

footer {
    color: white;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}

.custab{
  border: 1px solid #ccc;

  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;

  transition: 0.5s;
}

.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
